:root {
    --uon-blue: #35B0E6;
    --uon-black: #000000;
    --g-90: #1a1a1a;
    /* custom surface for dark */
    --g-80: #323232;
    /* brand 80% */
    --g-50: #7F7F7F;
    /* brand 50% */
    --g-20: #BFBFBF;
    /* brand 20% */
    --g-10: #E5E5E5;
    /* brand 10% */
    --white: #FFFFFF;

    --bg: #f7f8f9;
    --card: #ffffff;
    --text: #222;
    --muted: #555;
    --border: #e6e6e6;
    --shadow: 0 10px 30px rgba(0, 0, 0, .08);
    --radius: 16px;
}

html[data-theme="dark"] {
    --bg: #0d0f10;
    --card: #15181a;
    --text: #e6e6e6;
    --muted: #a9b0b6;
    --border: #23272a;
    --shadow: 0 10px 30px rgba(0, 0, 0, .35);
}